extends /views/layout.pug

block content
  h1= `Patron: Return Book`

  include /views/errors

  p
    strong Book Title:
    |  #{loan.Book.title}
  p
    strong Loaned By:
    |  #{loan.Patron.first_name} #{loan.Patron.last_name}
  p
    strong Loaned On:
    |  #{loan.loaned_on}
  p
    strong Return By:
    |  #{loan.return_by}
  form(action="/loans/" + loan.id + "?_method=PUT", method='post')
    p
      label(for="returned_on") Returned on:
      input(id="returned_on", name="returned_on", type="date",min=yearAgo, max=inOneYear, value=today)
    p
      input(type="submit" value="Return Book")
  </form>
